// ============================================================================
// Align Content Property and Values
// ============================================================================

.ac {
	&-c { align-content: center; }
	&-fe { align-content: flex-end; }
	&-fs { align-content: flex-start; }
	&-s { align-content: stretch; }
	&-sa { align-content: space-around; }
	&-sb { align-content: space-between; }
}
