// ============================================================================
// Animation Delay Property and Values
// ============================================================================

.animdel {
	&100 { animation-delay: 1s; }
	&200 { animation-delay: 2s; }
	&300 { animation-delay: 3s; }
}
