// ============================================================================
// Background Clip Property and Values
// ============================================================================

.bgcp {
	&-cb { background-clip: content-box; }
	&-bb { background-clip: border-box; }
	&-nc { background-clip: no-clip; }
	&-pb { background-clip: padding-box; }
}
