// ============================================================================
// Clear Property and Values
// ============================================================================

.cl {
	&-b { clear: both; }
	&-l { clear: left; }
	&-n { clear: none; }
	&-r { clear: right; }
}
