// ============================================================================
// Flex Wrap Properties and Values
// ============================================================================

.fxw {
	&-w { flex-wrap: wrap; }
	&-wr { flex-wrap: wrap-reverse; }
	&-n { flex-wrap: nowrap; }
}
