// ============================================================================
// Float Property and Values
// ============================================================================

.fl {
	&-l { float: left; }
	&-n { float: none; }
	&-r { float: right; }
}
