// ============================================================================
// Font Smooth Property and Values
// ============================================================================

.fsm {
	&-a { font-smooth: auto; }
	&-aw { font-smooth: always; }
	&-n { font-smooth: never; }
}
