// ============================================================================
// Height Property and Values
// ============================================================================

.h {
	&a { height: auto; }
	&0 { height: 0; }

	// Percentages
	&25p { height: 25%; }
	&50p { height: 50%; }
	&75p { height: 75%; }
	&100p { height: 100%; }

	// Viewport
	&100vh { height: 100vh; }
}
