// ============================================================================
// List Style Type Properties and Values
// ============================================================================

.list {
	&-c { list-style-type: circle; }
	&-d { list-style-type: disc; }
	&-dc { list-style-type: decimal; }
	&-dclz { list-style-type: decimal-leading-zero; }
	&-lr { list-style-type: lower-roman; }
	&-n { list-style-type: none; }
	&-s { list-style-type: square; }
	&-ur { list-style-type: upper-roman; }
}
