// ============================================================================
// Max Height Property and Values
// ============================================================================

.mah {
	&n { max-height: none; }
	&25p { max-height: 25%; }
	&50p { max-height: 50%; }
	&75p { max-height: 75%; }
	&100p { max-height: 100%; }
}
