// ============================================================================
// Max Width Property and Values
// ============================================================================

.maw {
	&n { max-width: none; }
	&25p { max-width: 25%; }
	&50p { max-width: 50%; }
	&75p { max-width: 75%; }
	&100p { max-width: 100%; }
}
