// ============================================================================
// Min Height Property and Values
// ============================================================================

.mih {
	&25p { min-height: 25%; }
	&50p { min-height: 50%; }
	&75p { min-height: 75%; }
	&100p { min-height: 100%; }
}
