// ============================================================================
// Padding Property and Values
// ============================================================================

.p {
	&0 { padding: 0; }
	&1r { padding: 1rem; }
	&2r { padding: 2rem; }
	&3r { padding: 3rem; }

	&t {
		&0 { padding-top: 0; }
		&1r { padding-top: 1rem; }
		&2r { padding-top: 2rem; }
		&3r { padding-top: 3rem; }
	}

	&r {
		&0 { padding-right: 0; }
		&1r { padding-right: 1rem; }
		&2r { padding-right: 2rem; }
		&3r { padding-right: 3rem; }
	}

	&b {
		&0 { padding-bottom: 0; }
		&1r { padding-bottom: 1rem; }
		&2r { padding-bottom: 2rem; }
		&3r { padding-bottom: 3rem; }
	}

	&l {
		&0 { padding-left: 0; }
		&1r { padding-left: 1rem; }
		&2r { padding-left: 2rem; }
		&3r { padding-left: 3rem; }
	}
}
