// ============================================================================
// Padding Property and Values
// ============================================================================

.p {
	&0 { padding: 0; }

	&t0 { padding-top: 0; }

	&r0 { padding-right: 0; }

	&b0 { padding-bottom: 0; }

	&l0 { padding-left: 0; }
}
