// ============================================================================
// Resize Property and Values
// ============================================================================

.rsz {
	&b { resize: both; }
	&h { resize: horizontal;}
	&n { resize: none; }
	&v { resize: vertical; }
}
