// ============================================================================
// Visibility Property and Values
// ============================================================================

.v {
	&-c { visibility: collapse; }
	&-h { visibility: hidden; }
	&-v { visibility: visible; }
}
