// ============================================================================
// Word Break Property and Values
// ============================================================================

.wob {
	&-ba { word-break: break-all; }
	&-k { word-break: keep-all; }
	&-n { word-break: normal; }
}
