// ============================================================================
// Width Property and Values
// ============================================================================

.w {
	&a { width: auto; }
	&0 { width: 0; }

	// Percentages
	&25p { width: 25%; }
	&50p { width: 50%; }
	&75p { width: 75%; }
	&100p { width: 100%; }
}