.cl-b {
  clear: both; }

.cl-l {
  clear: left; }

.cl-n {
  clear: none; }

.cl-r {
  clear: right; }

.cpa {
  clip: auto; }

.cura {
  cursor: auto; }

.curd {
  cursor: default; }

.curha {
  cursor: hand; }

.curhe {
  cursor: help; }

.curm {
  cursor: move; }

.curp {
  cursor: pointer; }

.curt {
  cursor: text; }

.d-b {
  display: block; }

.d-cp {
  display: compact; }

.d-f {
  display: flex; }

.d-i {
  display: inline; }

.d-ib {
  display: inline-block; }

.d-if {
  display: inline-flex; }

.d-it {
  display: inline-table; }

.d-li {
  display: list-item; }

.d-n {
  display: none; }

.d-rb {
  display: ruby; }

.d-rbb {
  display: ruby-base; }

.d-rbbg {
  display: ruby-base-group; }

.d-rbt {
  display: ruby-text; }

.d-rbtg {
  display: ruby-text-group; }

.d-ri {
  display: run-in; }

.d-t {
  display: table; }

.d-tbc {
  display: table-cell; }

.d-tbcl {
  display: table-column; }

.d-tbclg {
  display: table-column-group; }

.d-tbcp {
  display: table-caption; }

.d-tbfg {
  display: table-footer-group; }

.d-tbhg {
  display: table-header-group; }

.d-tbr {
  display: table-row; }

.d-tbrg {
  display: table-row-group; }

.fl-l {
  float: left; }

.fl-n {
  float: none; }

.fl-r {
  float: right; }

.ov-a {
  overflow: auto; }

.ov-h {
  overflow: hidden; }

.ov-s {
  overflow: scroll; }

.ov-v {
  overflow: visible; }

.ovs-a {
  overflow-style: auto; }

.ovs-m {
  overflow-style: move; }

.ovs-mq {
  overflow-style: marquee; }

.ovs-s {
  overflow-style: scrollbar; }

.ovs-p {
  overflow-style: panner; }

.ovx-a {
  overflow-x: auto; }

.ovx-h {
  overflow-x: hidden; }

.ovx-s {
  overflow-x: scroll; }

.ovx-v {
  overflow-x: visible; }

.ovy-a {
  overflow-y: auto; }

.ovy-h {
  overflow-y: hidden; }

.ovy-s {
  overflow-y: scroll; }

.ovy-v {
  overflow-y: visible; }

.pos-a {
  position: absolute; }

.pos-f {
  position: fixed; }

.pos-s {
  position: static; }

.pos-r {
  position: relative; }

.t-a {
  top: auto; }

.t0 {
  top: 0; }

.r-a {
  right: auto; }

.r0 {
  right: 0; }

.b-a {
  bottom: auto; }

.b0 {
  bottom: 0; }

.l-a {
  left: auto; }

.l0 {
  left: 0; }

.rszb {
  resize: both; }

.rszh {
  resize: horizontal; }

.rszn {
  resize: none; }

.rszv {
  resize: vertical; }

.v-c {
  visibility: collapse; }

.v-h {
  visibility: hidden; }

.v-v {
  visibility: visible; }

.za {
  z-index: auto; }

.zm {
  zoom: 1; }

.m-a {
  margin: auto; }

.m0 {
  margin: 0; }

.m1 {
  margin: 1rem; }

.m2 {
  margin: 2rem; }

.m3 {
  margin: 3rem; }

.m0-a {
  margin: 0 auto; }

.mt-a {
  margin-top: auto; }

.mt0 {
  margin-top: 0; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mt3 {
  margin-top: 3rem; }

.mr-a {
  margin-right: auto; }

.mr0 {
  margin-right: 0; }

.mr1 {
  margin-right: 1rem; }

.mr2 {
  margin-right: 2rem; }

.mr3 {
  margin-right: 3rem; }

.mb-a {
  margin-bottom: auto; }

.mb0 {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 1rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml-a {
  margin-left: auto; }

.ml0 {
  margin-left: 0; }

.ml1 {
  margin-left: 1rem; }

.ml2 {
  margin-left: 2rem; }

.ml3 {
  margin-left: 3rem; }

.p0 {
  padding: 0; }

.p1 {
  padding: 1rem; }

.p2 {
  padding: 2rem; }

.p3 {
  padding: 3rem; }

.pt0 {
  padding-top: 0; }

.pt1 {
  padding-top: 1rem; }

.pt2 {
  padding-top: 2rem; }

.pt3 {
  padding-top: 3rem; }

.pr0 {
  padding-right: 0; }

.pr1 {
  padding-right: 1rem; }

.pr2 {
  padding-right: 2rem; }

.pr3 {
  padding-right: 3rem; }

.pb0 {
  padding-bottom: 0; }

.pb1 {
  padding-bottom: 1rem; }

.pb2 {
  padding-bottom: 2rem; }

.pb3 {
  padding-bottom: 3rem; }

.pl0 {
  padding-left: 0; }

.pl1 {
  padding-left: 1rem; }

.pl2 {
  padding-left: 2rem; }

.pl3 {
  padding-left: 3rem; }

.bxshn {
  box-shadow: none; }

.bxzbb {
  box-sizing: border-box; }

.bxzcb {
  box-sizing: content-box; }

.ha {
  height: auto; }

.h0 {
  height: 0; }

.h25p {
  height: 25%; }

.h50p {
  height: 50%; }

.h75p {
  height: 75%; }

.h100p {
  height: 100%; }

.h100vh {
  height: 100vh; }

.mahn {
  max-height: none; }

.mah25p {
  max-height: 25%; }

.mah50p {
  max-height: 50%; }

.mah75p {
  max-height: 75%; }

.mah100p {
  max-height: 100%; }

.mawn {
  max-width: none; }

.maw25p {
  max-width: 25%; }

.maw50p {
  max-width: 50%; }

.maw75p {
  max-width: 75%; }

.maw100p {
  max-width: 100%; }

.mih25p {
  min-height: 25%; }

.mih50p {
  min-height: 50%; }

.mih75p {
  min-height: 75%; }

.mih100p {
  min-height: 100%; }

.miw25p {
  min-width: 25%; }

.miw50p {
  min-width: 50%; }

.miw75p {
  min-width: 75%; }

.miw100p {
  min-width: 100%; }

.wa {
  width: auto; }

.w0 {
  width: 0; }

.w25p {
  width: 25%; }

.w50p {
  width: 50%; }

.w75p {
  width: 75%; }

.w100p {
  width: 100%; }

.fef-eb {
  font-effect: emboss; }

.fef-eg {
  font-effect: engrave; }

.fef-n {
  font-effect: none; }

.fef-o {
  font-effect: outline; }

.femp-a {
  font-emphasize-position: after; }

.femp-b {
  font-emphasize-position: before; }

.fems-ac {
  font-emphasize-style: accent; }

.fems-c {
  font-emphasize-style: circle; }

.fems-ds {
  font-emphasize-style: disc; }

.fems-dt {
  font-emphasize-style: dot; }

.fems-n {
  font-emphasize-style: none; }

.ff-c {
  font-family: cursive; }

.ff-f {
  font-family: fantasy; }

.ff-m {
  font-family: monospace; }

.ff-s {
  font-family: serif; }

.ff-ss {
  font-family: sans-serif; }

.fsm-a {
  font-smooth: auto; }

.fsm-aw {
  font-smooth: always; }

.fsm-n {
  font-smooth: never; }

.fst-c {
  font-stretch: condensed; }

.fst-e {
  font-stretch: expanded; }

.fst-ec {
  font-stretch: extra-condensed; }

.fst-ee {
  font-stretch: extra-expanded; }

.fst-n {
  font-stretch: normal; }

.fst-sc {
  font-stretch: semi-condensed; }

.fst-se {
  font-stretch: semi-expanded; }

.fst-uc {
  font-stretch: ultra-condensed; }

.fst-ue {
  font-stretch: ultra-expanded; }

.fs-i {
  font-style: italic; }

.fs-n {
  font-style: normal; }

.fs-o {
  font-style: oblique; }

.fs-inh {
  font-style: inherit; }

.fs-ini {
  font-style: initial; }

.fs-uns {
  font-style: unset; }

.fv-n {
  font-variant: normal; }

.fv-sc {
  font-variant: small-caps; }

.fw-b {
  font-weight: bold; }

.fw-br {
  font-weight: bolder; }

.fw-lr {
  font-weight: lighter; }

.fw-n {
  font-weight: normal; }

.fw100 {
  font-weight: 100; }

.fw200 {
  font-weight: 200; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400; }

.fw500 {
  font-weight: 500; }

.fw600 {
  font-weight: 600; }

.fw700 {
  font-weight: 700; }

.fw800 {
  font-weight: 800; }

.fw900 {
  font-weight: 900; }

.fw-inh {
  font-weight: inherit; }

.fw-ini {
  font-weight: initial; }

.fw-u {
  font-weight: unset; }

.lts-n {
  letter-spacing: normal; }

.lh50 {
  line-height: 0.5; }

.lh75 {
  line-height: 0.75; }

.lh100 {
  line-height: 1; }

.lh125 {
  line-height: 1.25; }

.lh150 {
  line-height: 1.5; }

.lh175 {
  line-height: 1.75; }

.lh200 {
  line-height: 2; }

.ta-c {
  text-align: center; }

.ta-j {
  text-align: justify; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.tal-a {
  text-align-last: auto; }

.tal-c {
  text-align-last: center; }

.tal-l {
  text-align-last: left; }

.tal-r {
  text-align-last: right; }

.td-l {
  text-decoration: line-through; }

.td-n {
  text-decoration: none; }

.td-o {
  text-decoration: overline; }

.td-u {
  text-decoration: underline; }

.te-a {
  text-emphasis: after; }

.te-ac {
  text-emphasis: accent; }

.te-b {
  text-emphasis: before; }

.te-c {
  text-emphasis: circle; }

.te-ds {
  text-emphasis: disc; }

.te-dt {
  text-emphasis: dot; }

.te-n {
  text-emphasis: none; }

.th-a {
  text-height: auto; }

.th-f {
  text-height: font-size; }

.th-m {
  text-height: max-size; }

.th-t {
  text-height: text-size; }

.tj-a {
  text-justify: auto; }

.tj-d {
  text-justify: distribute; }

.tj-ic {
  text-justify: inter-cluster; }

.tj-ii {
  text-justify: inter-ideograph; }

.tj-iw {
  text-justify: inter-word; }

.tj-k {
  text-justify: kashida; }

.tj-t {
  text-justify: tibetan; }

.to-n {
  text-outline: none; }

.tov-c {
  text-overflow: clip; }

.tov-e {
  text-overflow: ellipsis; }

.tr-n {
  text-replace: none; }

.tsh-n {
  text-shadow: none; }

.tt-c {
  text-transform: capitalize; }

.tt-l {
  text-transform: lowercase; }

.tt-n {
  text-transform: none; }

.tt-u {
  text-transform: uppercase; }

.tw-n {
  text-wrap: normal; }

.tw-no {
  text-wrap: none; }

.tw-s {
  text-wrap: suppress; }

.tw-u {
  text-wrap: unrestricted; }

.va-b {
  vertical-align: bottom; }

.va-bl {
  vertical-align: baseline; }

.va-m {
  vertical-align: middle; }

.va-sub {
  vertical-align: sub; }

.va-sup {
  vertical-align: super; }

.va-t {
  vertical-align: top; }

.va-tb {
  vertical-align: text-bottom; }

.va-tt {
  vertical-align: text-top; }

.whs-n {
  white-space: normal; }

.whs-nw {
  white-space: nowrap; }

.whs-p {
  white-space: pre; }

.whs-pl {
  white-space: pre-line; }

.whs-pw {
  white-space: pre-wrap; }

.whsc-ba {
  white-space-collapse: break-all; }

.whsc-bs {
  white-space-collapse: break-strict; }

.whsc-k {
  white-space-collapse: keep-all; }

.whsc-l {
  white-space-collapse: loose; }

.whsc-n {
  white-space-collapse: normal; }

.wob-ba {
  word-break: break-all; }

.wob-k {
  word-break: keep-all; }

.wob-n {
  word-break: normal; }

.wow-b {
  word-wrap: break-word; }

.wow-n {
  word-wrap: none; }

.wow-nm {
  word-wrap: normal; }

.wow-s {
  word-wrap: suppress; }

.wow-u {
  word-wrap: unrestricted; }

.bg-n {
  background: none; }

.bga-f {
  background-attachment: fixed; }

.bga-s {
  background-attachment: scroll; }

.bgbk-bb {
  background-break: bounding-box; }

.bgbk-c {
  background-break: continuous; }

.bgbk-eb {
  background-break: each-box; }

.bgcp-cb {
  background-clip: content-box; }

.bgcp-bb {
  background-clip: border-box; }

.bgcp-nc {
  background-clip: no-clip; }

.bgcp-pb {
  background-clip: padding-box; }

.bgc-t {
  background-color: transparent; }

.bgi-n {
  background-image: none; }

.bgo-bb {
  background-origin: border-box; }

.bgo-cb {
  background-origin: content-box; }

.bgo-pb {
  background-origin: padding-box; }

.bgpx-c {
  background-position-x: center; }

.bgpx-l {
  background-position-x: left; }

.bgpx-r {
  background-position-x: right; }

.bgpy-b {
  background-position-y: bottom; }

.bgpy-c {
  background-position-y: center; }

.bgpy-t {
  background-position-y: top; }

.bgr-n {
  background-repeat: no-repeat; }

.bgr-sp {
  background-repeat: space; }

.bgr-rd {
  background-repeat: round; }

.bgr-x {
  background-repeat: repeat-x; }

.bgr-y {
  background-repeat: repeat-y; }

.bgsz-a {
  background-size: auto; }

.bgsz-ct {
  background-size: contain; }

.bgsz-cv {
  background-size: cover; }

.c-black {
  color: black; }

.c-white {
  color: white; }

.op0 {
  opacity: 0; }

.op1 {
  opacity: 1; }

.cps-b {
  caption-side: bottom; }

.cps-t {
  caption-side: top; }

.ec-h {
  empty-cells: hide; }

.ec-s {
  empty-cells: show; }

.tbl-a {
  table-layout: auto; }

.tbl-f {
  table-layout: fixed; }

.lis-n {
  list-style: none; }

.lisi-n {
  list-style-image: none; }

.lisp-i {
  list-style-position: inside; }

.lisp-o {
  list-style-position: outside; }

.list-c {
  list-style-type: circle; }

.list-d {
  list-style-type: disc; }

.list-dc {
  list-style-type: decimal; }

.list-dclz {
  list-style-type: decimal-leading-zero; }

.list-lr {
  list-style-type: lower-roman; }

.list-n {
  list-style-type: none; }

.list-s {
  list-style-type: square; }

.list-ur {
  list-style-type: upper-roman; }

.ac-c {
  align-content: center; }

.ac-fe {
  align-content: flex-end; }

.ac-fs {
  align-content: flex-start; }

.ac-s {
  align-content: stretch; }

.ac-sa {
  align-content: space-around; }

.ac-sb {
  align-content: space-between; }

.ai-b {
  align-items: baseline; }

.ai-c {
  align-items: center; }

.ai-fe {
  align-items: flex-end; }

.ai-fs {
  align-items: flex-start; }

.ai-s {
  align-items: stretch; }

.as-a {
  align-self: auto; }

.as-b {
  align-self: baseline; }

.as-c {
  align-self: center; }

.as-fe {
  align-self: flex-end; }

.as-fs {
  align-self: flex-start; }

.as-s {
  align-self: stretch; }

.fx1 {
  flex: 1; }

.fxb100p {
  flex-basis: 100%; }

.fxd-c {
  flex-direction: column; }

.fxd-cr {
  flex-direction: column-reverse; }

.fxd-r {
  flex-direction: row; }

.fxd-rr {
  flex-direction: row-reverse; }

.fxg1 {
  flex-grow: 1; }

.fxs1 {
  flex-shrink: 1; }

.fxw-w {
  flex-wrap: wrap; }

.fxw-wr {
  flex-wrap: wrap-reverse; }

.fxw-n {
  flex-wrap: nowrap; }

.jc-c {
  justify-content: center; }

.jc-fe {
  justify-content: flex-end; }

.jc-fs {
  justify-content: flex-start; }

.jc-sa {
  justify-content: space-around; }

.jc-sb {
  justify-content: space-between; }

.animdel100 {
  animation-delay: 1s; }

.animdel200 {
  animation-delay: 2s; }

.animdel300 {
  animation-delay: 3s; }

.animdir-a {
  animation-direction: alternate; }

.animdir-ar {
  animation-direction: alternate-reverse; }

.animdir-n {
  animation-direction: normal; }

.animdir-r {
  animation-direction: reverse; }

.animdur100 {
  animation-duration: 1s; }

.animdur200 {
  animation-duration: 2s; }

.animdur300 {
  animation-duration: 3s; }

.animfm-b {
  animation-fill-mode: backwards; }

.animfm-bh, .animfm-bt {
  animation-fill-mode: both; }

.animfm-f {
  animation-fill-mode: forwards; }

.animic1 {
  animation-iteration-count: 1; }

.animic2 {
  animation-iteration-count: 2; }

.animic3 {
  animation-iteration-count: 3; }

.animic-i {
  animation-iteration-count: infinite; }

.animps-p {
  animation-play-state: paused; }

.animps-r {
  animation-play-state: running; }

.animtf-e {
  animation-timing-function: ease; }

.animtf-ei {
  animation-timing-function: ease-in; }

.animtf-eio {
  animation-timing-function: ease-in-out; }

.animtf-eo {
  animation-timing-function: ease-out; }

.animtf-l {
  animation-timing-function: linear; }
